@model Q400Calculator.Models.ClimbData

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ClimbData</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Vclmb" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vclmb" class="form-control" />
                <span asp-validation-for="Vclmb" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vfri10" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vfri10" class="form-control" />
                <span asp-validation-for="Vfri10" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vfri15" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vfri15" class="form-control" />
                <span asp-validation-for="Vfri15" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vfri5" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vfri5" class="form-control" />
                <span asp-validation-for="Vfri5" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
